* {
	box-sizing: border-box;
  }
  body {
	background: #eee;
	margin: 20px 0;
  }
  article {
	width: 21cm;
	min-height: 29.7cm;
	background: white;
	margin: 0 auto;
	overflow: auto;
	padding: 1em;
  }
  .Img {
	width: 200px;
  }
  a {
	color: #999;
	text-decoration: none;
	border-bottom: 1px solid;
  }
  body {
	margin: 0;
  }
  .page2 {
	page-break-before: always;
	margin-top: 30px;
  }

  .bio {
	position: relative;
  }
  .bio img {
	position: absolute;
	right: 0;
	top: 0;
	width: 200px;
  }
  p {
	margin: 0.3em 0;
	color: #666;
  }
  h1 {
	font-size: 25px;
  }
  strong {
	font-weight: normal;
  }
  .jobs p {
	color: #666;
  }
  #skills {
	width: 600px;
	height: 300px;
  }
  .skill > .wrapper {
	display: flex;
	justify-content: space-between;
  }

  .skill > .wrapper > ul > li {
	line-height: 1.2;
	margin-bottom: 8px;
	color: #666;
  }
  .skill strong {
	color: #f90;
  }
  .projects {
	padding: 0;
	position: relative;
  }
  .projects p {
	margin: 0;
	color: #666;
	line-height: 1.5;
  }
  .projects h3 {
	margin: 10px 0;
  }
  .atarget {
	position: absolute;
	right: 0;
	margin-top: -32px;
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	width: 150px;
  }
  .projects strong {
	color: #f90;
	padding: 5px;
  }
  @media (max-width: 500px) {
	body {
	  margin: 0;
	}
	#skills {
	  width: auto;
	}
	.wrapper > ul > li {
	  margin-left: -20px;
	}
	.bio img {
	  display: none;
	}
	article {
	  width: auto;
	  height: auto;
	}
	.skill .wrapper {
	  flex-direction: column;
	}
  }